.form {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.wrapperImg {
    max-width: 200px;
    width: 100%;
    grid-row: span 3;
}

.wrapperDescr {
    text-align: center;
    font-size: 16px;
    margin-bottom: 4px;
}

.wrapperImg input {
    display: none;
}
.bookCover {
    max-width: 100%;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.fileInputLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 10px 15px;
    height: 40px;
    background-color: #b44577;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 1s ease;
}

.fileInputLabel:hover {
    font-size: 1.1rem;
    background-color: #9a3b66;
}

.containerMetaInformation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: top;
    grid-template-rows: auto auto;
    gap: 10px;
}
.containerInlineClassName {
    display: inline-block;
    width: 100%;
    min-width: 250px;
    /* max-width: 400px; */
}
.fieldClassName {
    display: inline-block;
}

.containerClassName {
    clear: left;
    width: 100%;
}

.submitActive {
}

.submitInactive {
    background-color: lightgray;
    cursor: not-allowed;
}

.submitInactive:hover {
    background-color: lightgray;
    /* cursor: not-allowed; */
    cursor: default;
}
