.page {
    padding: 10px;
}

.content {
    margin: 10px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.main {
    min-width: 750px;
}

.title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 3px solid rgba(0, 0, 0, 0.361);
    padding-bottom: 6px;
}
