.BookFinishedStatus {
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 0 8px;
}
.BookFinishedStatus.finished {
    color: #fff;
    background: #6fbd49;
}

.BookFinishedStatus.unfinished {
    color: #fff;
    background: #1d7fd3;
}

.BookFinishedStatus.frozen {
    color: #fff;
    background: #999999;
}
