.WrapperBodyText {
    width: 100%;
    min-height: 500px;
}

.WrapperBodyText ul {
    list-style-type: disc;
    padding-left: 3em;
    line-height: 1.5em;
}

.WrapperBodyText ol {
    list-style-type: decimal;
    padding-left: 3em;
    line-height: 1.5em;
}
.WrapperBodyText li p {
    text-indent: 0;
}

.WrapperBodyText {
    padding: 1rem !important;
}

.WrapperBodyText p,
h1,
h2,
h3,
p {
    margin: 0 !important;
    text-indent: 1rem;
    line-height: 1.5em;
}
.WrapperBodyText blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.WrapperBodyText table {
    border: 1px double #b3b3b3;
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    /* width: 100%; */
}
.WrapperBodyText tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.WrapperBodyText td,
th {
    border: 1px solid #bfbfbf;
    min-width: 2em;
    padding: 0.4em;
}
.WrapperBodyText table th {
    background: rgba(0, 0, 0, 0.05);
    font-weight: 700;
}

.WrapperBodyText figure {
    position: relative;
    overflow: auto;
}
.WrapperBodyText figure table {
    display: table;
    margin: 0.9em auto;
}

/* .WrapperBodyText h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.WrapperBodyText p {
    margin-bottom: 15px;
} */

.divider {
    display: block;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.payImg {
    display: block;
    margin: 0 auto;
    max-width: 40%;
    height: auto;
}
.containerPayText {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.keyword {
    font-weight: 700;

    font-style: italic;
}
