.sidebar {
}

.menu {
    margin-top: 10px;
}

.link {
    padding: 10px 5px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: block;
}

.link:hover {
    background-color: #eee;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.profile img {
    width: 60px;
}
