.logo {
	height: 100%;
	width: auto;
}

.bookLogo1 {
	opacity: 0.974;
	fill: #020202;
}
.bookLogo2 {
	opacity: 1;
	fill: #fbd8d7;
}

.bookLogo3 {
	opacity: 1;
	fill: #070505;
}
.bookLogo4 {
	opacity: 1;
	fill: #f16968;
}
.bookLogo5 {
	opacity: 1;
	fill: #050505;
}
.bookLogo6 {
	opacity: 1;
	fill: #ef7a88;
}
.bookLogo7 {
	opacity: 1;
	fill: #e9cccb;
}
.bookLogo8 {
	opacity: 1;
	fill: #d2878b;
}
.bookLogo9 {
	opacity: 1;
	fill: #f3a1a2;
}
.bookLogo10 {
	opacity: 1;
	fill: #dcdcdf;
}
.bookLogo11 {
	opacity: 1;
	fill: #f5f3f8;
}
.bookLogo12 {
	opacity: 1;
	fill: #020202;
}

.bookLogo13 {
	opacity: 1;
	fill: #040404;
}
.bookLogo14 {
	opacity: 1;
	fill: #d2d0d4;
}
.bookLogo15 {
	opacity: 1;
	fill: #f3a1a2;
}
