.searchSvg {
    width: 20px;
}

.searchInput {
    width: 100%;
    padding: 8px;
}

.addBookButton {
    padding: 10px;
    margin: 10px;
    /* border: 1px solid black; */
    /* border-radius: 6px; */
}

.addBookButton:hover {
    /* background-color: lightgray; */
}

.bookItem {
    cursor: pointer;
    display: flex;
    overflow: hidden;
    gap: 20px;
    /* justify-content: space-between; */
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.365);
    transition: all 0.3s ease;
}

.bookItem:hover .bookItemImg {
    transform: scale(1.05);
}

.bookItem:hover {
    filter: drop-shadow(1px 2px 3px black);
}

.bookItem:hover .bookItemTitle {
    text-decoration: underline;
}

.bookItemCenterPart {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* margin-right: 20px; */
}

.bookItemRightPart {
}

.bookItemImg {
    transition: all 0.3s ease;
    flex-shrink: 0;
    width: 100px;
    height: 140px;
    background-position: center;
    background-size: cover;
}

.bookItemTitle {
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.bookItemDescription {
    margin-top: 5px;
    overflow: hidden;
}

.bookItemDescription p {
    font-weight: 400;
    font-size: 16px;
    word-break: break-all;
}

.loading {
}

.editButton {
}

.bookItemStats {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.bookItemStatItem {
    display: flex;
}

.bookItemStatItem > img {
    width: 20px;
}

.bookItemStatItem > span {
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-left: 2px;
}
